Given a number between 0 and 1 trillion, please spell the number in English

Ex. for 997 return nine hundred ninety seven

In [6]:
n = int(input())

my_dict = {0:'zero', 1:'one', 2:'two',
          3:'three', 4:'four', 5:'five',
          6:'six', 7:'seven', 8:'eight',
          9:'nine', 10:'ten'}
place_dict = {1:'trillion', 2:'billion', 3:'million', 4:'thousand', 5:'hundred'}

tens_dict = {2:'twenty', 3:'thirty', 4:'forty',
            5:'fifty', 6:'sixty', 7:'seventy',
            8:'eighty', 9:'ninety'}
teens_dict = {11:'eleven', 12:'twelve', 13:'thirteen',
             14:'fourteen', 15:'fifteen', 16:'sixteen', 17:'seventeen',
             18:'eighteen', 19:'nineteen'}
print(my_dict[9] + ' ' +place_dict[5] + ' ' + tens_dict[9] + ' ' + my_dict[7])

997
nine hundred ninety seven